{% extends 'base.html.twig' %}

{% block title %}Liste des Animés{% endblock %}

{% block body %}

<div class="flex flex-wrap justify-center">
{% for anime in lesAnimes %}
<a href="#">
 <div class="flex flex-col bg-white w-64 h-96 m-8 rounded-md hover:opacity-50 cursor-pointer transition duration-500">
  <img src="{{asset('assets/images/fireforce.jpg')}}" class="w-full h-full object-cover" alt="">

  <div class="bg-black w-full border-t border-purple-600">
    <h1 class="text-white text-lg font-bold text-center">{{anime.nom}}</h1>
  </div>
</div>
</a>
{% endfor %}

</div>
{% endblock  %}