<h1>Veuillez confirmez votre email</h1>

<p>
    onfirmez votre email en cliquant sur le lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Le lien sera expiré dans :{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci
</p>
