{% extends 'base.html.twig' %}

{% block title %}Ajout Anime{% endblock %}
{% block stylesheets %} 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %} 
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block body %}

<!-- Mettre le formulaire & préciser son nom définit par le controller -->
{{form_start(formAnime)}}

<!-- form_row = met tout les champs qu'il y a dans le formulaire -->
{{form_row(formAnime)}}

<!-- Ajouter un bouton valider  -->
<input type="submit" value="valider">
<a href="" class="btn btn-warning">Annuler</a>

{{form_end(formAnime)}}


{% endblock %}
